---
import SubTitle from "./SubTitle.astro";
const { book } = Astro.props;
---
<div class="inline-block text-left px-4 md:px-0 md:max-w-3xl mb-5">
  <SubTitle>
    <span class="mb-4" set:html={book?.title} />
    {book.subtitle && <span class="text-sm block md:inline-block md:ml-2" set:html={book.subtitle} />}
  </SubTitle>
  <div class="bg-mint-50 pt-5 px-5 pb-4 rounded-sm md:mb-5">
    <p class="inline-block mb-4 text-base/8 tracking-wide" set:html={book.description} />
  </div>
  
  <div class="text-right text-gray-500 text-sm">
    <span class="block">公開日：{book?.publishedAt}</span>
    {book.updatedAt && <span set:html={`更新日：${book.updatedAt}`}></span>}
  </div>
  
</div>
